@import "./normalize.css";

:root {
    --color-primary: #f1ebdf;
    --color-body: #222;
    --color-bg: #faf9f8;

}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    background: var(--color-bg);
    color: var(--color-body);
    font-family: "HM Sans Latin Regular", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 1.92rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "HM Sans Latin Bold", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

@media screen and (min-width: 768px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 4.2rem;
    }

}

/* Blocks */

.main {
    max-width: 1008px;
    margin: 0 auto 24px;
    padding: 0 24px;
}

.container {
    margin-top: 24px;
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;
}

/* Links */

a {
    text-decoration: none;
}

/* Icons */

.icon {
    width: 30px;
    height: 30px;
}

.icon--white {
    fill: #fff;
    stroke: #fff;
}

.icon--black {
    fill: var(--color-body);
    stroke: var(--color-body);
}

.icon--small {
    width: 25px;
    height: 25px;
}


/* Collapsibles */

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
}

/* Grids */

.grid {
    display: grid;
}

/* Buttons */

.btn {
    border: none;
}

.btn--bg {
    background: var(--color-bg);
}

/* NavBar */

.header {
    background: var(--color-bg);
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1003;
    padding: 0 12px;
    height: auto;
}

.nav-bar {
    position: relative;
    margin-bottom: 32px;
}

.nav--grid {
    align-items: center;
    grid-template-columns: 50px 50px 1fr;
    height: 72px;
}

.nav--icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    min-width: 170px;
    align-items: center;
}

.nav--icons li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding-right: 0;
    min-width: 44px;
}

.nav-icon-text {
    color: var(--color-body);
    display: none;
}

.nav--list {
    display: none;
}

.main-logo {
    text-align: center;
}

.logo {
    width: 40px;
}

@media screen and (min-width: 768px) {
    .header {
        position: relative;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 16px 32px;
        position: relative;
        z-index: auto;
        height: auto;
    }

    .nav--grid {
        margin-bottom: 32px;
        grid-template-rows: auto;
        grid-template-columns: minmax(360px,1fr) 1fr minmax(360px,1fr);
        height: auto;
    }

    .nav--icons .nav-search {
        display: none;
    }

    .nav-icon-text {
        display: block;
    }

    .mobile-menu-btn {
        display: none;
    }

    .nav--list {
        display: flex;
        align-items: center;
    }
    
    .nav--list li {
        display: inline-block;
        margin-right: 1.6rem;
    }

    .logo {
        padding-top: 14px;
        width: 65px;
    }

    .nav--icons li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-right: 1.2rem;
        margin-left: 0;
    }
    
    .nav-icon {
        margin-inline-end: 8px;
    } 

    .nav-icon-text {
        margin: auto;
        height: auto;
        width: auto;
    }

    .nav--icons a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}

/* Mobile Menu */

.mobile-menu {
    z-index: 1020;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    background: var(--color-bg);
    width: calc(100% - 48px);
    transition: 0.25s;
}

.mobile-menu.is-active {
    left: 0;
}

.mobile-menu-btn-c {
    display: none;
}

.mobile-menu-btn-c.is-visible {
    display: block;
    z-index: 1020;
}

.menu--list {
    margin: 0;
    padding-top: 1.6rem;
}

.menu--link {
    color: var(--color-body);
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    position: relative;
    align-items: center;
}

.menu--icon {
    background-color: #e6e6e6;
    border-radius: 50%;
    margin: 0 16px 0 0;
    height: 48px;
    width: 48px;
}

.menu--cat {
    display: flex;
    align-items: center;
}

.menu--list__link {
    display: inline-flex;
    color: var(--color-body);
    padding: 16px 24px;
    width: 100%;
    justify-content: flex-start;
}

.icon-cross {
    width: 40px;
    position: absolute;
    left: 100%;
    top: 50%;
}

.film {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1010;
    background: #222;
    opacity: 0.7;
    display: none;
}

.film.is-visible {
    display: block;
}

@media screen and (min-width: 1024px) {
    .mobile-menu {
        display: none;
    }
}

/* Desktop Menu */

.desktop-menu {
    display: none;
    grid-template-columns: 10fr 1fr;
    align-items: end;
    position: relative;
    right: 50%;
    transform: translateX(62.8%);
    min-height: 33px;
    z-index: 1003;
}

.categories {
    text-align: center;
    position: relative;
}

.categories ul {
    margin: 0;
}

.search-bar {
    width: 12.7vw;
    margin-right: 12vw;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #222;
}

.input {
    border: 0;
    outline: 0;
    background: var(--color-bg);
    padding: 8px 16px 8px 32px;
}

.categories__item {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}

.categories__item-link {
    display: inline-flex;
}

.categories__item > a {
    color: var(--color-body);
    font-size: 1.6rem;
}

.categories__item:hover .categories__item-link {
    border-bottom: 1px solid #222;
    display: block;
}

.categories-dd {
    display: none;
    padding-left: 20%;
    padding-right: 20%;
    right: -16px;
    background: var(--color-bg);
    border-bottom: 5px solid #222;
    height: auto;
    margin-top: 0;
    min-height: 450px;
    padding-top: 24px;
    position: absolute;
    text-align: left;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
}

.categories__item:hover .categories-dd {
    display: block;
}

.dd-list {
    padding-left: 20%;
    padding-right: 20%;
    column-count: 4;
}

.dd-list > li {
    margin: 0 32px;
    padding-bottom: 32px;
    break-inside: avoid;
}

.dd-list__title {
    font-family: "HM Sans Latin Bold", Arial, Helvetica, sans-serif;
    display: inline-flex;
    margin-bottom: 6px;
}

.dd-list > li li {
    margin-bottom: 6px;
}

.dd-list__item {
    display: inline-flex;
    font-size: 1.3rem;
    color: var(--color-body);
}

.search-btn {
    position: absolute;
    min-width: 24px;
    top: 50%;
    min-height: 24px;
    margin-top: -14px;
    padding: 0;
    left: 0;
}

.search-icon {
    width: 22px;
}

@media screen and (min-width: 1024px) {
    .desktop-menu {
        display: grid;
    }
}

@media screen and (min-width: 1280px) {
    .categories__item {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* Mini Banner */

.mini-banner, .mini-banner__item {
    display: flex;
    justify-content: center;
    padding: 0;
}

.mini-banner__item {
    align-items: center;
    padding: 8px;
    flex: 1 1;
    text-align: center;
}

.mini-banner--hide {
    display: none;
}

@media screen and (min-width: 768px) {
    .mini-banner--hide {
        display: flex;
    }
}

/* Banner */

.banner--red {
    background: url(/images/banner_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
}

.banner--primary {
    background: var(--color-primary);
}

.banner--primary .banner__heading {
    color: #e50010;
}

.banner--primary .banner__desc {
    color: var(--color-body);
}

.banner--primary svg {
    fill: var(--color-body);
    stroke: var(--color-body);
}

.banner__header {
    color: #fff;
    text-align: center;
    margin: 0;
    padding-bottom:  22px;
    position: relative;
    height: 100%;
}

.banner__heading {
    font-size: 1.52rem;
    font-weight: 500;
    padding: 22px 60px 0;
    margin: 0;
}

.banner__desc {
    margin: 0;
    padding: 4px 60px 0;
}

.banner--list {
    margin: 0;
}

.banner--link {
    color: var(--color-body);
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 1.6rem;
    position: relative;
}

.banner--link .icon {
    height: 22px;
    width: 22px;
}

.collapsible__plus, .collapsible__minus {
    position: absolute;
    top: 50%;
    right: 0;
    margin: -13px 15px 0 0;
}

.banner__header .icon {
    width: 20px;
    height: 20px;
}

.collapsible--expanded .collapsible__plus {
    display: none;
}

.banner--link:hover {
    background: #e6e6e6;
}

@media screen and (min-width: 1024px) {
    .collapsible__plus, .collapsible__minus {
        display: none;
    }

    .banner .collapsible__content {
        max-height: 100%;
        position: relative;
        bottom: 7rem;
        left: 30%;
    }

    .banner--list__item {
        display: inline-block;
        padding: 0 4px;
    }

    .banner--link {
        padding: 8px;
        width: auto;
        margin-top: 1.6rem;
    }

    .banner--link svg {
        display: none;
    }

    .banner__header {
        height: 13rem;
    }

    .banner--p .banner--link {
        background: var(--color-primary);
        border: 1px solid var(--color-body);
    }
}

/* Image Banner */

.img-banner img {
    width: 100%;
    height: auto;
}

.img-banner__content {
    padding: 1.5rem;
    transform: translateY(-100%);
}

.img-banner__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}

.img-banner__heading {
    margin-bottom: 0.4rem;
}

.img-banner__desc {
    margin: 0;
}

.img-banner .banner--link {
    display: none;
}

@media screen and (min-width: 768px) {
    .img-banner__heading {
        margin-bottom: 1rem;
    }

    .img-banner__desc {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1024px) {
    .img-banner .banner--link {
        display: block;
    }

    .img-banner__content {
        transform: translateY(-120%);
    }
}