<div class="arrival-block">
  <h2 class="arrival-block__title">New Arrivals</h2>
  <div class="arrival-block__cat">
    <button class="arrival-cat arrival-cat-red" type="button">Ladies</button>
    <button class="arrival-cat" type="button">Men</button>
    <button class="arrival-cat" type="button">Divided</button>
    <button class="arrival-cat" type="button">Baby</button>
    <button class="arrival-cat" type="button">Kids</button>
    <button class="arrival-cat" type="button">H&M HOME</button>
    <button class="arrival-cat" type="button">Sport</button>
  </div>
  <div>
    <div class="arrival-slider">
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_1.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs1,799.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_2.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs2,799.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_3.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs2,299.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_4.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs1,599.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_5.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs2,599.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_6.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs1,999.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_7.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs1,599.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_8.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs1,699.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_9.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs3,699.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_10.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs1,699.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_11.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs1,699.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_12.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs1,699.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_13.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs2,699.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_14.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs2,299.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_15.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs1,299.00</p>
            </div>
          </div>
        </article>
      </div>
      <div class="a-slider__item">
        <article class="item">
          <div class="item-img">
            <a href="#">
              <div>
                <img src="/images/arrival_16.jpg" alt="" class="item__img" />
              </div>
            </a>
            <div class="item-fav">
              <button type="button" class="fav-btn">
                <svg class="icon icon--black">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="item-desc">
            <div>
              <h3 class="item-desc__h">Draped blouse</h3>
              <p class="item-desc__p">Rs1,999.00</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
