<div class="container">
  <article class="banner">
    <div class="collapsible">
      <header class="banner-header banner-red">
        <h3 class="banner_heading">Celebrating the sibling bond 🤍</h3>
        <p class="banner_desc">Gift of style for your loved ones!</p>
        <svg class="icon icon--white collapsible__plus">
          <use xlink:href="images/sprite.svg#plus"></use>
        </svg>
        <svg class="icon icon--white collapsible__minus">
          <use xlink:href="images/sprite.svg#minus"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list banner-list">
          <li class="banner-list_item">
            <a class="banner-link" href="#"
              >Ladies
              <svg class="icon icon--black">
                <use xlink:href="images/sprite.svg#arrow"></use>
              </svg>
            </a>
          </li>
          <li class="banner-list_item">
            <a class="banner-link" href="#"
              >Men
              <svg class="icon icon--black">
                <use xlink:href="images/sprite.svg#arrow"></use>
              </svg>
            </a>
          </li>
          <li class="banner-list_item">
            <a class="banner-link" href="#"
              >Baby & Kids
              <svg class="icon icon--black">
                <use xlink:href="images/sprite.svg#arrow"></use>
              </svg>
            </a>
          </li>
          <li class="banner-list_item">
            <a class="banner-link" href="#"
              >Home
              <svg class="icon icon--black">
                <use xlink:href="images/sprite.svg#arrow"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </article>
</div>
