<div class="grid desktop-menu">
    <div class="categories">
      <ul class="list">
        <li class="categories__item">
          <a href="#" class="categories__item-link">Ladies</a>
          <div class="categories-dd">
            <ul class="list dd-list">
              <li>
                <span class="dd-list__title">New Arrivals</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li><a href="#" class="dd-list__item">Clothes</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Trending Now</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">Trending Now</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Shop By Occasion</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">The Occasion Shop</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Shop By Product</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Tops & T-shirts</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Dresses</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Shirts & Blouses</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Trousers</a></li>
                  <li><a href="#" class="dd-list__item">Jeans</a></li>
                  <li>
                    <a href="#" class="dd-list__item">
                      Sweatshirts & Hoodies
                    </a>
                  </li>
                  <li><a href="#" class="dd-list__item">Basics</a></li>
                  <li><a href="#" class="dd-list__item">Blazers</a></li>
                  <li>
                    <a href="#" class="dd-list__item">
                      Cardigans & Sweaters
                    </a>
                  </li>
                  <li><a href="#" class="dd-list__item">Accessories</a></li>
                  <li><a href="#" class="dd-list__item">Shoes</a></li>
                  <li><a href="#" class="dd-list__item">Skirts</a></li>
                  <li><a href="#" class="dd-list__item">Shorts</a></li>
                  <li><a href="#" class="dd-list__item">Nightwear</a></li>
                  <li><a href="#" class="dd-list__item">Lingerie</a></li>
                  <li><a href="#" class="dd-list__item">Loungewear</a></li>
                  <li><a href="#" class="dd-list__item">Jumpsuits</a></li>
                  <li>
                    <a href="#" class="dd-list__item"
                      >Swimwear & Beachwear</a
                    >
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">Sportswear</a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">Socks & Tights</a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">Plus Sizes</a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">Knitwear</a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">Jackets & Coats</a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">Maternity Wear</a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">Sale</a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">Premium Selection</a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">Care Products</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Sustainability</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">H&M Take Care</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Learn More</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Magazine</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> Magazine</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__item-link">Men</a>
          <div class="categories-dd">
            <ul class="list dd-list">
              <li>
                <span class="dd-list__title">New Arrivals</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li><a href="#" class="dd-list__item">Clothes</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Trending Now</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">Trending Now</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Shop By Product</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Tops & T-shirts</a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">
                      Hoodies & Sweatshirts</a
                    >
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">Shirts</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Trousers</a></li>
                  <li><a href="#" class="dd-list__item">Jeans</a></li>
                  <li>
                    <a href="#" class="dd-list__item"> Shoes </a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item"> Jackets & Coats </a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">
                      Cardigans & Jumpers
                    </a>
                  </li>
                  <li><a href="#" class="dd-list__item">Shorts</a></li>
                  <li><a href="#" class="dd-list__item">Basics</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Suits & Blazers</a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item"
                      >Underwear & Innerwear</a
                    >
                  </li>
                  <li><a href="#" class="dd-list__item">Swimwear</a></li>
                  <li><a href="#" class="dd-list__item">Socks</a></li>
                  <li><a href="#" class="dd-list__item">Accessories</a></li>
                  <li><a href="#" class="dd-list__item">Sportswear</a></li>
                  <li><a href="#" class="dd-list__item">Care products</a></li>
                  <li>
                    <a href="#" class="dd-list__item"
                      >Sleepwear & Loungewear</a
                    >
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">Premium Selection</a>
                  </li>
                    <a href="#" class="dd-list__item">Sale</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Sustainability</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">H&M Take Care</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Learn More</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__item-link">Divided</a>
          <div class="categories-dd">
            <ul class="list dd-list">
              <li>
                <span class="dd-list__title">New Arrivals</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li><a href="#" class="dd-list__item">Clothes</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Trending Now</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">Trending Now</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Shop By Product</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Tops</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Dresses</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Divided - Basics</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Shirts & Blouses</a></li>
                  <li><a href="#" class="dd-list__item">Trousers & Leggings</a></li>
                  <li>
                    <a href="#" class="dd-list__item">
                      Jeans
                    </a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">
                      Cardigans & Jumpers
                    </a>
                  </li>
                  <li><a href="#" class="dd-list__item">Hoodies & Sweatshirts</a></li>
                  <li><a href="#" class="dd-list__item">Jackets & Coats</a></li>
                  <li><a href="#" class="dd-list__item">Accessories</a></li>
                  <li><a href="#" class="dd-list__item">Shorts</a></li>
                  <li><a href="#" class="dd-list__item">Divided - Skirts</a></li>
                  <li><a href="#" class="dd-list__item">Underwear & Nightwear</a></li>
                  <li><a href="#" class="dd-list__item">Swimwear</a></li>
                  <li><a href="#" class="dd-list__item">Shoes</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Sale</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Sustainability</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">H&M Take Care</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Learn More</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__item-link">Baby</a>
          <div class="categories-dd">
            <ul class="list dd-list">
              <li>
                <span class="dd-list__title">Life with Baby</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item">Life with Baby</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Trending Now</span>
                <ul class="list">
                    <li><a href="#" class="dd-list__item">Season treasures</a></li>
                    <li><a href="#" class="dd-list__item">Adorable sets</a></li>
                    <li><a href="#" class="dd-list__item">Best of Basics</a></li>
                    <li><a href="#" class="dd-list__item">Party edit</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Newborn</span>
                <ul class="list">
                  <li>
                    <li><a href="#" class="dd-list__item">View all</a></li>
                    <li><a href="#" class="dd-list__item">New Arrivals</a></li>
                    <li><a href="#" class="dd-list__item">Clothing</a></li>
                    <li><a href="#" class="dd-list__item">Accessories</a></li>
                    <li><a href="#" class="dd-list__item">Outerwear</a></li>
                    <li><a href="#" class="dd-list__item">Shoes</a></li>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Baby Girl</span>
                <ul class="list">
                  <li>
                    <li><a href="#" class="dd-list__item">View all</a></li>
                    <li><a href="#" class="dd-list__item">New Arrivals</a></li>
                    <li><a href="#" class="dd-list__item">Clothing</a></li>
                    <li><a href="#" class="dd-list__item">Accessories</a></li>
                    <li><a href="#" class="dd-list__item">Outerwear</a></li>
                    <li><a href="#" class="dd-list__item">Shoes</a></li>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Baby Boy</span>
                <ul class="list">
                  <li>
                    <li><a href="#" class="dd-list__item">View all</a></li>
                    <li><a href="#" class="dd-list__item">New Arrivals</a></li>
                    <li><a href="#" class="dd-list__item">Clothing</a></li>
                    <li><a href="#" class="dd-list__item">Accessories</a></li>
                    <li><a href="#" class="dd-list__item">Outerwear</a></li>
                    <li><a href="#" class="dd-list__item">Shoes</a></li>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Shop By Product</span>
                <ul class="list">
                  <li>
                    <li><a href="#" class="dd-list__item">View all</a></li>
                    <li><a href="#" class="dd-list__item">New Arrivals</a></li>
                    <li><a href="#" class="dd-list__item">Clothing</a></li>
                    <li><a href="#" class="dd-list__item">Accessories</a></li>
                    <li><a href="#" class="dd-list__item">Outerwear</a></li>
                    <li><a href="#" class="dd-list__item">Shoes</a></li>
                    <li><a href="#" class="dd-list__item">Party & Occasion</a></li>
                    <li><a href="#" class="dd-list__item">Sale</a></li>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Sustainability</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">H&M Take Care</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Learn More</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__item-link">Kids</a>
          <div class="categories-dd">
            <ul class="list dd-list">
              <li>
                <span class="dd-list__title">Trending Now</span>
                <ul class="list">
                    <li><a href="#" class="dd-list__item">Season treasures</a></li>
                    <li><a href="#" class="dd-list__item">Adorable sets</a></li>
                    <li><a href="#" class="dd-list__item">Best of Basics</a></li>
                    <li><a href="#" class="dd-list__item">Party edit</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Girls 2-8Y</span>
                <ul class="list">
                  <li>
                    <li><a href="#" class="dd-list__item">View all</a></li>
                    <li><a href="#" class="dd-list__item">New Arrivals</a></li>
                    <li><a href="#" class="dd-list__item">Clothing</a></li>
                    <li><a href="#" class="dd-list__item">Accessories</a></li>
                    <li><a href="#" class="dd-list__item">Outerwear</a></li>
                    <li><a href="#" class="dd-list__item">Shoes</a></li>
                    <li><a href="#" class="dd-list__item">Party & Occasion</a></li>
                    <li><a href="#" class="dd-list__item">Sportswear</a></li>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Boys 2-8Y</span>
                <ul class="list">
                  <li>
                    <li><a href="#" class="dd-list__item">View all</a></li>
                    <li><a href="#" class="dd-list__item">New Arrivals</a></li>
                    <li><a href="#" class="dd-list__item">Clothing</a></li>
                    <li><a href="#" class="dd-list__item">Accessories</a></li>
                    <li><a href="#" class="dd-list__item">Outerwear</a></li>
                    <li><a href="#" class="dd-list__item">Shoes</a></li>
                    <li><a href="#" class="dd-list__item">Party & Occasion</a></li>
                    <li><a href="#" class="dd-list__item">Sportswear</a></li>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Girls 9-14Y</span>
                <ul class="list">
                  <li>
                    <li><a href="#" class="dd-list__item">View all</a></li>
                    <li><a href="#" class="dd-list__item">New Arrivals</a></li>
                    <li><a href="#" class="dd-list__item">Clothing</a></li>
                    <li><a href="#" class="dd-list__item">Accessories</a></li>
                    <li><a href="#" class="dd-list__item">Outerwear</a></li>
                    <li><a href="#" class="dd-list__item">Shoes</a></li>
                    <li><a href="#" class="dd-list__item">Party & Occasion</a></li>
                    <li><a href="#" class="dd-list__item">Sportswear</a></li>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Boys 9-14Y</span>
                <ul class="list">
                  <li>
                    <li><a href="#" class="dd-list__item">View all</a></li>
                    <li><a href="#" class="dd-list__item">New Arrivals</a></li>
                    <li><a href="#" class="dd-list__item">Clothing</a></li>
                    <li><a href="#" class="dd-list__item">Accessories</a></li>
                    <li><a href="#" class="dd-list__item">Outerwear</a></li>
                    <li><a href="#" class="dd-list__item">Shoes</a></li>
                    <li><a href="#" class="dd-list__item">Party & Occasion</a></li>
                    <li><a href="#" class="dd-list__item">Sportswear</a></li>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Shop By Product</span>
                <ul class="list">
                  <li>
                    <li><a href="#" class="dd-list__item">View all</a></li>
                    <li><a href="#" class="dd-list__item">New Arrivals</a></li>
                    <li><a href="#" class="dd-list__item">Clothing</a></li>
                    <li><a href="#" class="dd-list__item">Accessories</a></li>
                    <li><a href="#" class="dd-list__item">Outerwear</a></li>
                    <li><a href="#" class="dd-list__item">Shoes</a></li>
                    <li><a href="#" class="dd-list__item">Party & Occasion</a></li>
                    <li><a href="#" class="dd-list__item">Sportswear</a></li>
                    <li><a href="#" class="dd-list__item">Baby</a></li>
                    <li><a href="#" class="dd-list__item">Sale</a></li>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Sustainability</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">H&M Take Care</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Learn More</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__item-link">H&M HOME</a>
          <div class="categories-dd">
            <ul class="list dd-list">
              <li>
                <span class="dd-list__title">New Arrivals</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item">New Products</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Shop by Room</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">Bedroom</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Living Room</a></li>
                  <li><a href="#" class="dd-list__item">Bathroom</a></li>
                  <li><a href="#" class="dd-list__item">Nursery</a></li>
                  <li><a href="#" class="dd-list__item">Kids Room</a></li>
                  <li><a href="#" class="dd-list__item">Kitchen</a></li>
                  <li><a href="#" class="dd-list__item">Balcony & Outdoor</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Trending Now</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">Season news-Under Rs.999</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Homely-gifts</a></li>
                  <li><a href="#" class="dd-list__item">Pop of colours</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Shop By Product</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Decorations</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Cushions</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Bed Linen</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Room Fragrance</a></li>
                  <li><a href="#" class="dd-list__item">Serving & Dining</a></li>
                  <li><a href="#" class="dd-list__item">Cookwear</a></li>
                  <li><a href="#" class="dd-list__item">Storage</a></li>
                  <li><a href="#" class="dd-list__item">Bath & Shower</a></li>
                  <li><a href="#" class="dd-list__item">Curtains</a></li>
                  <li><a href="#" class="dd-list__item">Sleepwear</a></li>
                  <li><a href="#" class="dd-list__item">Blankets</a></li>
                  <li><a href="#" class="dd-list__item">Giftwraps</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Sale</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Sustainability</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">H&M Take Care</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Learn More</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__item-link">Sport</a>
          <div class="categories-dd">
            <ul class="list dd-list">
              <li>
                <span class="dd-list__title">New Arrivals</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li><a href="#" class="dd-list__item">Clothes</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Trending Now</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">Trending Now</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Shop By Product</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Tops</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Dresses</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Divided - Basics</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Shirts & Blouses</a></li>
                  <li><a href="#" class="dd-list__item">Trousers & Leggings</a></li>
                  <li>
                    <a href="#" class="dd-list__item">
                      Jeans
                    </a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">
                      Cardigans & Jumpers
                    </a>
                  </li>
                  <li><a href="#" class="dd-list__item">Hoodies & Sweatshirts</a></li>
                  <li><a href="#" class="dd-list__item">Jackets & Coats</a></li>
                  <li><a href="#" class="dd-list__item">Accessories</a></li>
                  <li><a href="#" class="dd-list__item">Shorts</a></li>
                  <li><a href="#" class="dd-list__item">Divided - Skirts</a></li>
                  <li><a href="#" class="dd-list__item">Underwear & Nightwear</a></li>
                  <li><a href="#" class="dd-list__item">Swimwear</a></li>
                  <li><a href="#" class="dd-list__item">Shoes</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Sale</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Sustainability</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">H&M Take Care</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Learn More</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__item-link">Sustainability</a>
          <div class="categories-dd">
            <ul class="list dd-list">
              <li>
                <span class="dd-list__title">New Arrivals</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li><a href="#" class="dd-list__item">Clothes</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Trending Now</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">Trending Now</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Shop By Product</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Tops</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Dresses</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Divided - Basics</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Shirts & Blouses</a></li>
                  <li><a href="#" class="dd-list__item">Trousers & Leggings</a></li>
                  <li>
                    <a href="#" class="dd-list__item">
                      Jeans
                    </a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">
                      Cardigans & Jumpers
                    </a>
                  </li>
                  <li><a href="#" class="dd-list__item">Hoodies & Sweatshirts</a></li>
                  <li><a href="#" class="dd-list__item">Jackets & Coats</a></li>
                  <li><a href="#" class="dd-list__item">Accessories</a></li>
                  <li><a href="#" class="dd-list__item">Shorts</a></li>
                  <li><a href="#" class="dd-list__item">Divided - Skirts</a></li>
                  <li><a href="#" class="dd-list__item">Underwear & Nightwear</a></li>
                  <li><a href="#" class="dd-list__item">Swimwear</a></li>
                  <li><a href="#" class="dd-list__item">Shoes</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Sale</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Sustainability</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">H&M Take Care</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Learn More</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__item-link">Sale</a>
          <div class="categories-dd">
            <ul class="list dd-list">
              <li>
                <span class="dd-list__title">New Arrivals</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li><a href="#" class="dd-list__item">Clothes</a></li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Trending Now</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">Trending Now</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Shop By Product</span>
                <ul class="list">
                  <li><a href="#" class="dd-list__item"> View All</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Tops</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Dresses</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Divided - Basics</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Shirts & Blouses</a></li>
                  <li><a href="#" class="dd-list__item">Trousers & Leggings</a></li>
                  <li>
                    <a href="#" class="dd-list__item">
                      Jeans
                    </a>
                  </li>
                  <li>
                    <a href="#" class="dd-list__item">
                      Cardigans & Jumpers
                    </a>
                  </li>
                  <li><a href="#" class="dd-list__item">Hoodies & Sweatshirts</a></li>
                  <li><a href="#" class="dd-list__item">Jackets & Coats</a></li>
                  <li><a href="#" class="dd-list__item">Accessories</a></li>
                  <li><a href="#" class="dd-list__item">Shorts</a></li>
                  <li><a href="#" class="dd-list__item">Divided - Skirts</a></li>
                  <li><a href="#" class="dd-list__item">Underwear & Nightwear</a></li>
                  <li><a href="#" class="dd-list__item">Swimwear</a></li>
                  <li><a href="#" class="dd-list__item">Shoes</a></li>
                  <li>
                    <a href="#" class="dd-list__item">Sale</a>
                  </li>
                </ul>
              </li>
              <li>
                <span class="dd-list__title">Sustainability</span>
                <ul class="list">
                  <li>
                    <a href="#" class="dd-list__item">H&M Take Care</a>
                  </li>
                  <li><a href="#" class="dd-list__item">Learn More</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Search Products" class="input" />
      <button class="btn btn--bg search-btn">
        <svg class="icon icon--black search-icon">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
      </button>
    </div>
  </div>