<div class="container">
  <article class="img-banner">
    <picture>
      <source media="(min-width:1024px)" srcset="images/campaign_b1.png" />
      <img src="images/campaign_s1.png" alt="Campaign image" />
    </picture>
    <div class="img-banner__content">
      <div class="img-banner__text">
        <h2 class="img-banner__heading">Trusty trousers</h2>
        <p class="img-banner__desc">
          From cargos to classic chinos. Your go-to styles gathered.
        </p>
        <a class="banner--link" href="#">Shop Now</a>
      </div>
    </div>
  </article>
</div>
