<nav class="mobile-menu">
  <ul class="list menu--list">
    <li>
      <a class="menu--link" href="#">
        <span class="menu--cat">
          <img src="/images/Ladies.png" alt="" class="menu--icon" />
          Ladies
        </span>
        <svg class="icon icon--black">
          <use xlink:href="images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="menu--link" href="#">
        <span class="menu--cat">
          <img src="/images/Men.png" alt="" class="menu--icon" />
          Men
        </span>
        <svg class="icon icon--black">
          <use xlink:href="images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="menu--link" href="#">
        <span class="menu--cat">
          <img src="/images/Divided.png" alt="" class="menu--icon" />
          Divided
        </span>
        <svg class="icon icon--black">
          <use xlink:href="images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="menu--link" href="#">
        <span class="menu--cat">
          <img src="/images/Baby.png" alt="" class="menu--icon" />
          Baby
        </span>
        <svg class="icon icon--black">
          <use xlink:href="images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="menu--link" href="#">
        <span class="menu--cat">
          <img src="/images/Kids.png" alt="" class="menu--icon" />
          Kids
        </span>
        <svg class="icon icon--black">
          <use xlink:href="images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="menu--link" href="#">
        <span class="menu--cat">
          <img src="/images/Home.png" alt="" class="menu--icon" />
          H&M HOME
        </span>
        <svg class="icon icon--black">
          <use xlink:href="images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="menu--link" href="#">
        <span class="menu--cat">
          <img src="/images/Sport.png" alt="" class="menu--icon" />
          Sport
        </span>
        <svg class="icon icon--black">
          <use xlink:href="images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="menu--link" href="#">
        <span class="menu--cat">
          <img src="/images/Sustainability.png" alt="" class="menu--icon" />
          Sustainability
        </span>
        <svg class="icon icon--black">
          <use xlink:href="images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="menu--link" href="#">
        <span class="menu--cat">
          <img src="/images/Sale.png" alt="" class="menu--icon" />
          Sale
        </span>
        <svg class="icon icon--black">
          <use xlink:href="images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li><a href="#" class="menu--list__link">Customer Service</a></li>
    <li><a href="#" class="menu--list__link">Newsletter</a></li>
    <li><a href="#" class="menu--list__link">Find a store</a></li>
    <li><a href="#" class="menu--list__link">Download Android</a></li>
    <li><a href="#" class="menu--list__link">Download iOS</a></li>
  </ul>
  <button type="button" class="btn mobile-menu-btn-c">
    <img src="/images/cross.svg" class="icon-cross" />
  </button>
</nav>
<div class="film"></div>
