<div class="popular-block">
  <div class="popular-block__title">
    <h2 class="popular-title">Popular categories</h2>
  </div>
  <div class="popular-slider">
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_1.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Tops & T-shirts</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_2.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Trousers</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_3.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Clothes</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_4.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Hoodies & Sweatshirts</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_5.webp" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Men</h2>
            <p>T-shirts & Tops</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_6.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Accessories</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_7.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Shirts & Blouses</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_8.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Cardigans & Sweaters</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_1.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Tops & T-shirts</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_2.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Trousers</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_3.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Clothes</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_4.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Hoodies & Sweatshirts</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_5.webp" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Men</h2>
            <p>T-shirts & Tops</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_6.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Accessories</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_7.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Shirts & Blouses</p>
          </div>
        </a>
      </div>
    </div>
    <div class="slider__item">
      <div>
        <a href="#" class="slider-link">
          <div class="slider-link__img">
            <span>
              <img src="images/cat_8.avif" alt="Tops & T-shirts" />
            </span>
          </div>
          <div class="slider-link__txt">
            <h2>Ladies</h2>
            <p>Cardigans & Sweaters</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
